@charset "UTF-8";
/* ++++++++++++++++++ common ++++++++++++++++++++ */
a{
text-decoration:none;
color:#000;
}
#headerLeft h1{
	font-size:small;
}

.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
.button{
	border:none;
}


#contentWrapper{
	width:1200px;
	margin:auto;
}
.noBorder{
	border:none!important;
}

/* ++++++++++++++++++ header ++++++++++++++++++++ */

#header{
	width:1200px;
	margin:auto;
}
#headerLeft{
	float:left
}
#headerLogo{
	width:100px;
	margin:5px 20px;
}
#headerRight{
	float:right;
}
#headerRight li{
	display:inline-block;
	margin:10px;
}
#headerSearch{
	display:flex;
	align-items:center;
	height:40px;
	width:400px;
}
#headerSearch .textbox{
	width:150px;
	height:30px;
}
#headerSearch span{
	display:inline-flex;
	align-items:center;
	margin:5px;
}
#headerSearch .button{
	width:63px;
	height:25px;
	margin:5px;
	background-image: url(../img/seartch_btn.jpg);
	background-repeat: no-repeat;
	background-color:#fff;

}
#headerRight span{
	font-weight:bold;
	font-size:x-large;
}


#gMenu{
	background:url(../img/img_menu01.gif);
	background-repeat:repeat-x;
	margin:10px auto;
	padding:9px 0;
	width:1200px;
	min-width:1200px;
}
#gMenu ul{
	width:800px;
	height:26px;
	margin:auto;
	border-right:solid 1px #fff;
}
#gMenu li{
	float:left;
	width:158px;
	height:26px;
	border-left:solid 1px #fff;
	text-align:center;
}
#gMenu a{
	display:block;
	color:#fff;
	height:44px;
}


/* ++++++++++++++++++ footer ++++++++++++++++++++ */


#footer {
	height: 200px;
	background-color: #206EBE;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
#footer p {
	text-align: center;
	color: #FFFFFF;
	margin-top: 0px;
	padding-top: 30px;
}


/* ++++++++++++++++++ index searchTop ++++++++++++++++++++ */


#searchTop h2{
	text-align:center;
	font-size:x-large;
}
#searchTopMain{
	position: relative;
	background:url(../img/unitymain.jpg);
	width: 1200px;
	height: 350px;
}


#searchTopMain div{
	position:absolute;
;}
#searchTopMain img{
	height:170px;
	width:170px;
	border-radius:50%;
}
#searchTopMain #item1{
	top:100px;
	left:350px;
}
#searchTopMain #item2{
	top:100px;
	right:350px;
}
#searchTopMain div p{
	display:block;
	height:50px;
	width:150px;
	font-size:large;
	text-align:center;
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.searchContainer{
	margin:20px 0;
	padding-left:7px;
	border-left:solid 15px #60a0e8;
}
.searchContainer h3{
	margin:10px 0;
	padding-left:7px;
	border-left:solid 7px #b0ddff;
	font-size:large;
}
.searchGenreBox{
	position: relative;
	float: left;
	margin: 10px;
	height: 250px;
	width: 370px;
	background-color: #E2F3FF;
}
.searchGenreBoxTop img{
	position:absolute;
	top:5px;
	left:5px;
	height:180px;
	width:180px;
	background:#fff;
}
.searchGenreBoxTop div{
	position:absolute;
	top:5px;
	left:190px;
	height:180px;
	width:180px;
}
.searchGenreBoxTop div p{
	text-align:center;
	height:35px;
}
.searchGenreBoxBottom{
	position: absolute;
	top: 190px;
	left: 0px;
	padding-top: 20px;
	height: 40px;
	width: 370px;
	background-color: #206EBE;
}
.searchGenreBoxBottom p{
	text-align: center;
	font-size: large;
	color: #FFFFFF;
}

.searchBigLabel{
	font-size:large;
	text-align:center;
	margin:10px;
}

#searchButtonArea{
	width:200px;
	height:40px;
	background:#b0ddff;
	padding:30px 500px;
}
#searchButtonArea input{
	display:block;
	width:200px;
	height:40px;
}
#headerSearch span img {
	margin: 5px;
}
#keywordserch {

	border: 2px solid #FFB428;
	border-radius: 10px;
	width: 200px;
	padding: 2px;
	padding-right:20px;
}
#keywordserch input{
	border: none;
	width:200px;
}
#keywordserch input:focus{
	border:none;
	outline:0;
}

/* ++++++++++++++++++ log in ++++++++++++++++++++ */
#loginWrapper{
	width:500px;
	margin:50px auto;
	text-align:center;
	background-color:#e2f3ff;
}
#loginWrapper div{
	
}
#loginWrapper img{
	margin:30px;
	
}
#loginWrapper input{
	margin:30px;
	width:300px;
	height:40px;
	font-size:large;
}
#loginWrapper input.loginButton{
	width:200px;
}


/* ++++++++++++++++++ result ++++++++++++++++++++ */

#pankuzu{
	margin:3px 20px 10px;
}
#pankuzu a{
	color:#4488ff;
}
#resultWrapper h2{
	display:inline-block;
	margin:15px 0;
	padding-left:10px;
	border-left:solid 7px #b0ddff;
	font-size:x-large;
}
#resultWrapper h3{
	margin:15px 10px;
	padding-left:10px;
	border-left:solid 7px #b0ddff;
	font-size:large;
}
#resultLabel{
	display:inline-block;
	margin:0 10px;
}
#resultRefineContainer{
	background:#e2f3ff;
	padding:20px;
}
#refineTitle{
	padding-bottom:10px;
	font-size:x-large;
	border-bottom:solid 1px #000;
}
.refineBox{
	display:inline-block;
	width:500px;
	padding-left:40px;
}
.refineLine{
	margin-bottom:20px;
}
.refineLine span{
	margin-right:10px;
}
#refineButton{
	border:solid 2px #70b0f0;
	border-top:solid 2px #f0f9ff;
	
	border-radius: 0 0 20px 20px / 0 0 20px 20px;
	-webkit-border-radius: 0 0 20px 20px / 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px / 0 0 20px 20px;
	
	background: linear-gradient(to bottom, #b0ddff, #e2f3ff);
}
#refineButton p{
	text-align:center;
}
#resultButtonArea{
	position:relative;
	padding:30px;
	padding-bottom:3px;
	border-bottom:solid 1px #70b0f0;
}
#resultButtonArea p{
	display:inline-block;
	text-align:right;
	width:440px;
	padding-right:10px;
}
#contactsButton{
	width:240px;
	height:40px;
}
#selectAllButton{
	position:absolute;
	right:50px;
	font-size:small;
}
.resultBox{
	border-bottom:solid 1px #70b0f0;
	width:100%;
	padding:30px 0;
}
.resultBox div{
	float:left;
}
.resultBoxCenter{
	width:550px;
	padding:0 30px;
}
.resultBoxCenter p{
	margin:15px 0;
	line-height:normal;
}
.resultBoxCenter .cPhrase{
	font-size:1.5em;
}
.resultBoxCenter .cpName{
	font-size:2.5em;
}

.resultBoxRight{
	width:350px;
	text-align:center;
}
.resultBox img{
	margin:auto;
	width:200px;
	height:200px;
}
.resultBoxRight input{
	width:330px;
	height:60px;
	margin-bottom:30px;
}

/* ++++++++++++++++++ company profile ++++++++++++++++++++ */

.companyContainer h2{
	margin:20px 0;
	padding:7px 15px;
	border-left:solid 15px #60a0e8;
	font-size:x-large;

}
.companyBox{
	padding:0;
	margin:20px 0;

}
.companyContainer{
	margin:20px 0;
	
}
.companyContainer .companyText{
	float:left;
	width:780px;
}
.companyContainer .companyImage{
	float:right;
	width:400px;
	height:200px;
}
.companyStrongContainer{
	float:left;
	width:600px;
}
.companyStrongContainer div{
	height:30px;
	padding-left:35px;
	background-repeat:no-repeat;
}
.companyStrongContainer h3{
	font-size:1.2em;
	height:1.2em;
}
.companyStrongContainer .n1{
	background-image:url("../img/unitynumber01.png");
}
.companyStrongContainer .n2{
	background-image:url("../img/unitynumber02.png");
}
.companyStrongContainer .n3{
	background-image:url("../img/unitynumber03.png");
}
.companyStrongContainer .n4{
	background-image:url("../img/unitynumber04.png");
}
.companyButtonArea{
	margin:30px 0;
	text-align:center;
}
.companyButtonArea input{
	margin:0 50px;
	height:60px;
	width:330px;
}
.companyContainer table,.companyContainer th,.companyContainer td{
	border:1px #000 solid;
}
.companyContainer table{
	width:100%;
}
.companyContainer th{
	width:20%;
	text-align:left;
	font-size:large;
	background-color:#ccc;
}
.companyContainer td{
	width:70%;
	text-align:left;
}

/* ++++++++++++++++++ new request ++++++++++++++++++++ */
#newrequestWrapper{
	margin-bottom:15px;
	
	
}
#newrequestWrapper div{
	margin-left:30px;
	
}
#newrequestWrapper h2{
	font-size:xx-large;
	
}
#newrequestWrapper h3{
	margin:20px 0;
	padding:7px 15px;
	border-left:solid 15px #60a0e8;
	font-size:x-large;
}#newrequestWrapper #selectCompany div{
	position:relative;
	margin:0;
	padding:5px 10px;
	width:100%;
	border:solid 1px #000;
	
}
#newrequestWrapper #selectCompany img{
	position:absolute;
	display:block;
	top:10px;
	right:20px;
}
#newrequestWrapper #selectCompany input{
	display:block;
	margin:10px 30px 20px auto;
	
	width:150px;
}
#newrequestWrapper input,#newrequestWrapper textarea{
	width:100%;
}

#replyDateArea input{
	width:150px;
}
